@import 'partials/nav';
@import 'partials/widget';
@import 'partials/post';
@import 'partials/archive';
@import 'partials/landing';

// Make avatar circular
img.avatar{
  border-radius: 50%;
}

// Author page social icons
.author-social-icon{
  font-size: 30px;
  margin: 0 10px;
}

// Hide screen reader text
.screen-reader-text{
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: polygon(0px 0px, 0px 0px,0px 0px, 0px 0px);
  position: absolute !important;
  white-space: nowrap;
  height: 1px;
  width: 1px;
  overflow: hidden;
}
