@import 'partials/nav'; //topbar naviagtion styles
@import 'partials/attachment'; //attachment page styles
@import 'partials/widget'; //widget/sidebar styles
@import 'partials/post'; //general post styles
@import 'partials/404'; //404 styles
@import 'partials/archive'; //general archive styles
@import 'partials/author'; // author archive page styles
@import 'partials/series-page'; //single series page styles
@import 'partials/landing'; //front page styles
@import 'partials/login'; //override wp login styles

// Make avatar circular
img.avatar{
  border-radius: 50%;
}

// Author page social icons
.author-social-icon{
  font-size: 30px;
  margin: 0 10px;
}

// Hide screen reader text
.screen-reader-text{
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: polygon(0px 0px, 0px 0px,0px 0px, 0px 0px);
  position: absolute !important;
  white-space: nowrap;
  height: 1px;
  width: 1px;
  overflow: hidden;
}
