// Typography - copied from global.scss
$header-font: 'Signika', sans-serif;//'Exo 2', sans-serif;
$body-font: 'Roboto', sans-serif; //'Roboto Slab', serif;

h1, h2, h3, h4, h5, h6{
  font-family: $header-font;
}
p{
  font-family: $body-font;
}

// Colour scheme - copied from global.scss
$primary-colour: black;
$secondary-colour: #999; //matches Foundation subheader colour
$tertiary-colour: #777;
$background-colour: white;
$project-background: #DDF6FF;
$series-background: #D5FFF9;
$blog-background: #FFCDDD;

/* Default WP Admin Overrides */
/* styling for admin menu - more information here:
https://code.tutsplus.com/articles/customizing-the-wordpress-admin-adding-styling--wp-33530 */

/* background and text color */
#adminmenuback, #adminmenuwrap, #adminmenu {
    background-color: $background-colour;
    border: none;
}
#adminmenu li.menu-top:hover, #adminmenu li.opensub > a.menu-top, #adminmenu li > a.menu-top:focus {
    background-color: $background-colour;
    color: $primary-colour;
    text-shadow: none;//0 1px 0 rgba(255,255,255,0.4);
}
#adminmenu li.wp-menu-separator {
    background: $background-colour;
    border: none;
}

/* links in admin menu */
#adminmenu a,
#adminmenu li.menu-top:hover,
#adminmenu li.opensub > a.menu-top,
#adminmenu li > a.menu-top:focus {
    color: $primary-colour;
}
#adminmenu a:hover,
#adminmenu a:active {
    color: $primary-colour;
    text-decoration: underline;
}
#adminmenu .wp-submenu a {
    color: $primary-colour;
}

/* change color of arrow to submenus */
#adminmenu li.wp-not-current-submenu .wp-menu-arrow,
#adminmenu li.wp-not-current-submenu .wp-menu-arrow div {
    background: $secondary-colour;
}

/* active screen as seen in menu - change the background and arrow colour */
#adminmenu li.wp-has-current-submenu a.wp-has-current-submenu,
#adminmenu li.current a.menu-top,
.folded #adminmenu li.wp-has-current-submenu,
.folded #adminmenu li.current.menu-top,
#adminmenu .wp-menu-arrow,
#adminmenu .wp-has-current-submenu .wp-submenu .wp-submenu-head {
    background: $secondary-colour;
}
#adminmenu li.wp-has-current-submenu .wp-menu-arrow,
#adminmenu li.wp-has-current-submenu .wp-menu-arrow div {
    background: $secondary-colour;
}
// Active menu section background
#adminmenu .wp-has-current-submenu .wp-submenu, #adminmenu .wp-has-current-submenu .wp-submenu.sub-open, #adminmenu .wp-has-current-submenu.opensub .wp-submenu, #adminmenu a.wp-has-current-submenu:focus+.wp-submenu, .no-js li.wp-has-current-submenu:hover .wp-submenu{
  background: $secondary-colour;
}
#adminmenu .wp-submenu, .folded #adminmenu .wp-has-current-submenu .wp-submenu, .folded #adminmenu a.wp-has-current-submenu:focus+.wp-submenu{
  background-color: $background-colour;
}

// Dashicons color
#adminmenu div.wp-menu-image:before{
  color: $tertiary-colour;
}


//Topbar style overrides
#wpadminbar{
  background-color: $background-colour;

}
#wpadminbar .ab-empty-item, #wpadminbar a.ab-item, #wpadminbar>#wp-toolbar span.ab-label, #wpadminbar>#wp-toolbar span.noticon {
    color: $primary-colour;
}
// Topbar icon colours
#wpadminbar{
  #adminbarsearch:before, .ab-icon:before, .ab-item:before{
    color: $secondary-colour;
  }
  // Topbar dropdown menus
  .menupop .ab-sub-wrapper, .shortlink-input{
    background-color: $secondary-colour;
  }
}
#wpadminbar .ab-top-menu>li.hover>.ab-item, #wpadminbar.nojq .quicklinks .ab-top-menu>li>.ab-item:focus, #wpadminbar:not(.mobile) .ab-top-menu>li:hover>.ab-item, #wpadminbar:not(.mobile) .ab-top-menu>li>.ab-item:focus{
  background: $secondary-colour;
  color: $primary-colour;
}
#wpadminbar:not(.mobile)>#wp-toolbar a:focus span.ab-label, #wpadminbar:not(.mobile)>#wp-toolbar li:hover span.ab-label, #wpadminbar>#wp-toolbar li.hover span.ab-label{
  color: $background-colour;
}
// Mobile top bar
.wp-responsive-open #wpadminbar #wp-admin-bar-menu-toggle a{
  background: $background-colour;
}
// Topbar admin logotype
#wpadminbar #wp-admin-bar-site-name > a.ab-item{
  font-family: "Signika", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 3px;
}

/* Override default font icons with branding */
// Reset to transition from font icons to bg-image icons
@mixin admin-icon-patch {
  content: "";
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 5px;
  margin: 7px;
  padding: 0px;
}
.menu-icon-post, .menu-icon-projects, .menu-icon-series{
  .wp-menu-image:before{
    @include admin-icon-patch;
  }
}
// Admin top bar menu home icon override
.wp-admin #wpadminbar #wp-admin-bar-site-name>.ab-item:before {
  @include admin-icon-patch;
  margin: 4px 10px 0 0;
  width: 20px;
  height: 20px;
  padding: 0px;
}

body.dashboard{

  /* Admin Custom styles */

  // Styles for dashboard header logo
  #dashboard_splashHeaderImg{
    height: 85px;
    width: 85px;
    margin: 20px auto 10px auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  // Dashboard header title
  .wrap>h1{
    text-align: center;
    font-size: 3em;
  }

  .postbox-container{
    width: 100% !important; //override 50% widget width
    max-width: 1200px;
    margin: 20px auto;
    float: none !important;
  }
  // Styles for dashboard post widgets
  .dashboard-post-widget{
    text-align: center;
  }
  #dashboard_blogposts_widget, #dashboard_project_widget, #dashboard_series_widget{
    h2{
      text-align: center;
      font-size: 1.5em;
      letter-spacing: 2px;
      font-weight: normal;
      text-transform: uppercase;
    }
  }
  .dashboard-post-widget-headerimg{
    height: 50px;
    width: 50px;
    display: block;
    margin: 10px auto 10px auto;
  }
  .dashboard-post-recentsection{
    width: 30%;
    min-width: 250px;
    height: 100px;
    display: inline-block;
    vertical-align: top;
    text-align: center;

    h4{
      font-size: 1.25em !important;
    }
  }
}
