.author{
  .author-header{
    padding: 10px;
    padding-top: 20px;
  }
  .author-name{
    margin-bottom: 0px;
  }
  .author-social-container{
    margin-bottom: 10px;
  }

  .featured-article{
    margin-bottom: 30px;
    h3{
        width: 100%;
      }
  }
}
