@import 'global';

/* Foundation Top-bar overrides
TODO: this could probably be more elegantly achieved via altering the
Foundation top bar sass vars */
.top-bar *,
.top-bar,
.title-bar{
  color: $primary-colour;
  background-color: $background-colour;
}
.menu-icon{
  float: right;
  &:after,
  &:hover:after{
    background: $primary-colour;
    box-shadow: 0 7px 0 $primary-colour, 0 14px 0 $primary-colour;
  }
}

/* Top nav link styles */
#top-bar-menu-logotype{
  @include main-logotype(16px, 3px);
}
.menu-item a, .title-bar-title{
  @include main-logotype(16px, 3px);
  font-weight: normal;
}
.menu .active{
  a{
    @include button-link;
  }
}

// Admin icons
.admin-icon {
  font-size: 1.3rem;
}

// Login top nav link
.login-link{
  padding: 0 16px;
  a{
    color: $background-colour;
    background-color: $primary-colour;
    font-size: 0.8rem;
    padding: 8px 10px;
    display: inline-block !important;
  }
}

.header{
  margin-bottom: 0px;
}
.top-bar-right{
  margin-top: 22.5px;
}
