/* Styles dedicated to pages */

.page .type-page{ //targets only page types

  // corrective styles to make pages less ugly
  h1, h2, h3, h4, h5, h6{
    margin-bottom: 1rem;
    text-align: center;
  }
  img{
    margin-bottom: 1rem;
  }
}
