h1, h2, h3, h4, h5, h6 {
  font-family: "Signika", sans-serif; }

p {
  font-family: "Roboto", sans-serif; }

/* Default WP Admin Overrides */
/* styling for admin menu - more information here:
https://code.tutsplus.com/articles/customizing-the-wordpress-admin-adding-styling--wp-33530 */
/* background and text color */
#adminmenuback, #adminmenuwrap, #adminmenu {
  background-color: white;
  border: none; }

#adminmenu li.menu-top:hover, #adminmenu li.opensub > a.menu-top, #adminmenu li > a.menu-top:focus {
  background-color: white;
  color: black;
  text-shadow: none; }

#adminmenu li.wp-menu-separator {
  background: white;
  border: none; }

/* links in admin menu */
#adminmenu a,
#adminmenu li.menu-top:hover,
#adminmenu li.opensub > a.menu-top,
#adminmenu li > a.menu-top:focus {
  color: black; }

#adminmenu a:hover,
#adminmenu a:active {
  color: black;
  text-decoration: underline; }

#adminmenu .wp-submenu a {
  color: black; }

/* change color of arrow to submenus */
#adminmenu li.wp-not-current-submenu .wp-menu-arrow,
#adminmenu li.wp-not-current-submenu .wp-menu-arrow div {
  background: #999; }

/* active screen as seen in menu - change the background and arrow colour */
#adminmenu li.wp-has-current-submenu a.wp-has-current-submenu,
#adminmenu li.current a.menu-top,
.folded #adminmenu li.wp-has-current-submenu,
.folded #adminmenu li.current.menu-top,
#adminmenu .wp-menu-arrow,
#adminmenu .wp-has-current-submenu .wp-submenu .wp-submenu-head {
  background: #999; }

#adminmenu li.wp-has-current-submenu .wp-menu-arrow,
#adminmenu li.wp-has-current-submenu .wp-menu-arrow div {
  background: #999; }

#adminmenu .wp-has-current-submenu .wp-submenu, #adminmenu .wp-has-current-submenu .wp-submenu.sub-open, #adminmenu .wp-has-current-submenu.opensub .wp-submenu, #adminmenu a.wp-has-current-submenu:focus + .wp-submenu, .no-js li.wp-has-current-submenu:hover .wp-submenu {
  background: #999; }

#adminmenu .wp-submenu, .folded #adminmenu .wp-has-current-submenu .wp-submenu, .folded #adminmenu a.wp-has-current-submenu:focus + .wp-submenu {
  background-color: white; }

#adminmenu div.wp-menu-image:before {
  color: #777; }

#wpadminbar {
  background-color: white; }

#wpadminbar .ab-empty-item, #wpadminbar a.ab-item, #wpadminbar > #wp-toolbar span.ab-label, #wpadminbar > #wp-toolbar span.noticon {
  color: black; }

#wpadminbar #adminbarsearch:before, #wpadminbar .ab-icon:before, #wpadminbar .ab-item:before {
  color: #999; }
#wpadminbar .menupop .ab-sub-wrapper, #wpadminbar .shortlink-input {
  background-color: #999; }

#wpadminbar .ab-top-menu > li.hover > .ab-item, #wpadminbar.nojq .quicklinks .ab-top-menu > li > .ab-item:focus, #wpadminbar:not(.mobile) .ab-top-menu > li:hover > .ab-item, #wpadminbar:not(.mobile) .ab-top-menu > li > .ab-item:focus {
  background: #999;
  color: black; }

#wpadminbar:not(.mobile) > #wp-toolbar a:focus span.ab-label, #wpadminbar:not(.mobile) > #wp-toolbar li:hover span.ab-label, #wpadminbar > #wp-toolbar li.hover span.ab-label {
  color: black; }

/* Override default font icons with branding */
.menu-icon-post .wp-menu-image:before, .menu-icon-projects .wp-menu-image:before, .menu-icon-series .wp-menu-image:before {
  content: "";
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 5px;
  margin: 7px;
  padding: 0px; }

.wp-admin #wpadminbar #wp-admin-bar-site-name > .ab-item:before {
  content: "";
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 5px;
  margin: 7px;
  padding: 0px;
  margin: 4px 10px 0 0;
  width: 20px;
  height: 20px;
  padding: 0px; }

body.dashboard {
  /* Admin Custom styles */ }
  body.dashboard .wrap > h1 {
    text-align: center;
    font-size: 1.5rem; }
  body.dashboard #dashboard_splashHeaderImg {
    height: 85px;
    width: 85px;
    margin: 0 auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
  body.dashboard .postbox-container {
    width: 100% !important; }
  body.dashboard .dashboard-post-widget {
    text-align: center; }
  body.dashboard .dashboard-post-recentsection {
    width: 30%;
    display: inline-block;
    vertical-align: top;
    text-align: left; }
  body.dashboard .dashboard-post-widget-headerimg {
    height: 50px;
    width: 50px;
    display: block;
    margin: 0 auto 20px auto; }
  body.dashboard #dashboard_blogposts_widget h2, body.dashboard #dashboard_project_widget h2, body.dashboard #dashboard_series_widget h2 {
    text-align: center;
    font-size: 1.5em; }

/*# sourceMappingURL=admin.css.map */
