
/*Top widget cotainer styles*/
div#topwidgets {
    text-align: center;
}

#topwidgets .widget{
  display: inline-block;
  vertical-align: top;
}

/*Archive grid styles*/
/*Archive grid loop styles*/
section.archive-grid.featured-image{
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
}
