/* ***MENU STYLES*** */

.top-bar *, .top-bar, .title-bar{
  color: black;
  background-color: white;
}
.menu-icon:after, .menu-icon:hover:after{
  background: #000000;
  box-shadow: 0 7px 0 #000000, 0 14px 0 #000000;
}


/* ***WIDGET STYLES*** */

/*Top widget cotainer styles*/
div#topwidgets {
    text-align: center;
}

#topwidgets .widget{
  display: inline-block;
  vertical-align: top;
}

/* ***AVATAR STYLES*** */
img.avatar{
  border-radius: 50%;
}


/* ***HEADER STYLES*** */
.header{
  margin-bottom: 40px;
}

/* ***POST AND PAGE STYLES*** */
.archive-header, .article-header{
  text-align: center;
  margin-bottom: 30px;
}
section.featured-image{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
  margin-bottom: 10px;
}

/* ***SINGLE / PAGE STYLES*** */
/*Article grid loop styles*/
.entry-content section.featured-image{
  height: 400px;
  margin-bottom: 20px;
}
/*Safeguard for non-breaking text*/
h1.entry-title.single-title, .comments-title span{
  word-wrap: break-word;
}

/* ***ARCHIVE / INDEX STYLES*** */

/*Archive header styles*/
.archive-header .taxonomy-description{
  font-size: 1.2rem;
  width: 80%;
  margin: 0 auto;
}
/*Archive grid loop styles*/
section.archive-grid.featured-image{
  height: 200px;
}
/*Safeguard for non-breaking text*/
.article-header .title>a,
.entry-content p{
  word-wrap: break-word;
}

/* *** FRONT-PAGE STYLES*** */
.frontpage-sections{
  display: inline-block;
  vertical-align: top;
  margin-bottom: 20px;
}
section.featured-post.featured-image {
    height: 400px;
    padding: 40px;
}
.featured-post.description{
  background-color: white;
  text-align: left;
  padding: 20px;
  border-radius: 10px;
}
.featured-post.description div{
  display: inline-block;
  vertical-align: top;
}
main#main.frontpage-content {
    margin: 0 auto;
}

/* *** AUTHOR PROFILE STYLES*** */
.author-social-icon{
  font-size: 30px;
  margin: 0 10px;
}

/* Accessibility features */
.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: polygon(0px 0px, 0px 0px,0px 0px, 0px 0px);
    position: absolute !important;
    white-space: nowrap;
    height: 1px;
    width: 1px;
    overflow: hidden;
}
