section.archive-grid.featured-image{
  @include featured-image(200px, 10px);
}

// Format archive description byline
.archive-header .taxonomy-description{
  font-size: 1.2rem;
  width: 80%;
  margin: 0 auto;
}

// Format headers for archive and article pages
.archive-header{
  text-align: center;
  margin-bottom: 30px;
}
.article-header{
  text-align: center;
  padding: 0 10px;
}

// Safeguard for non-breaking text
.article-header .title>a,
.entry-content p{
  word-wrap: break-word;
}

.article-thumbnail{
  margin-bottom: 20px;
}

.article-body{
  padding: 0 10px;
}

// Container of grid items (thumbnails)
.archive-grid{
  // Use Foundation's Flex mixins to override the
  // weird alignment caused by custom grid limitations
  @include flex;
  @include flex-align(center, null);
}
