section.archive-grid.featured-image{
  @include featured-image(200px, 10px);
}

// Format headers for archive and article pages
.archive-header{
  text-align: center;
  margin-bottom: 30px;

  // Archive post type icon
  img{
    width: 80px;
    margin-bottom: 10px;
  }

  // Archvive post type title
  .page-title{
    text-transform: uppercase;
    letter-spacing: 3.5px;
    font-weight: bold;
  }

  // Description of the archive
  .taxonomy-description {
    font-size: 1.2rem;
    width: 80%;
    margin: 0 auto;

    p{
      display: inline-block;
    }
  }
  .taxonomy-description.project-background p{
    @include project-title-background;
  }
  .taxonomy-description.series-background p{
    @include series-title-background;
  }
  .taxonomy-description.blog-background p{
    @include blog-title-background;
  }
}
.article-header{
  padding: 0 10px;
  text-align: center;
  .article-title {
    display: inline-block;
    margin: 10px 0 20px 0;
  }
  .article-title.project-background a{
    @include project-title-background;
  }
  .article-title.series-background a{
    @include series-title-background;
  }
  .article-title.blog-background a{
    @include blog-title-background;
  }
}

// Safeguard for non-breaking text
.article-header .title>a,
.entry-content p{
  word-wrap: break-word;
}

.archive-thumb-container{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.article-thumbnail{
  box-shadow: 0 0 5px #888888;
  border-radius: 7px;
  margin-bottom: 20px;
  margin: 20px;
  max-width: 450px;
  min-width: 300px;
  padding: 10px;
  width: 20%;
}

.article-body{
  padding: 0 10px;
}

// Pagination links
.page-navigation{
  text-align: center;
  width: 100%; //prevent aligning with project thumbs
}
