// Contains all of the global vars to be used across partials
// $font-stack:  Helvetica, san-serif;

// Typography
$header-font: 'Signika', sans-serif;//'Exo 2', sans-serif;
$body-font: 'Roboto', sans-serif; //'Roboto Slab', serif;

h1, h2, h3, h4, h5, h6{
  font-family: $header-font;
}
p{
  font-family: $body-font;
}

// Main logotype
@mixin main-logotype($font-size, $letter-spacing){
  font-family: $header-font;
  font-weight: bold;
  text-transform: uppercase;
  font-size: $font-size;
  letter-spacing: $letter-spacing;
}

// Colour scheme
$primary-colour: black;
$secondary-colour: #999; //matches Foundation subheader colour
$tertiary-colour: #777;
$background-colour: white;
$project-background: #DDF6FF;
$series-background: #D5FFF9;
$blog-background: #FFCDDD;
@mixin project-title-background{
  background-color: $project-background;
  padding: 2px;
}
@mixin series-title-background{
  background-color: $series-background;
  padding: 2px;
}
@mixin blog-title-background{
  background-color: $blog-background;
  padding: 2px;
}

// Format featured image bg img mixin
@mixin featured-image($height, $margin-bottom){
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
  margin-bottom: $margin-bottom;
  height: $height;
}

// Style for active menu links and filter buttons
@mixin button-link{
  background-color: $secondary-colour;
  border-radius: 1px;
}
.button{
  @include button-link;
}
.button:hover, .button:focus{
  @include button-link;
  background-color: $tertiary-colour;
}
.pagination .current{
  @include button-link;
}

// Styles for general links
a{
  color: $primary-colour;
}
a:hover, a:focus{
  color: $tertiary-colour;
}

// Byline used in thumbs and posts
.byline-date{
  color: $secondary-colour;
  font-size: 0.9rem;
}
.byline-typeicon{
  width: 20px;
  margin: 0 10px 0 5px;
}
