@import 'global';

// Styling of the front page sections
.frontpage-sections{
  display: inline-block;
  vertical-align: top;
  margin-bottom: 20px;
}

// Top of page hero section
.frontpage-hero-section{
  padding: 0px;

  // Featured post hero image
  .frontpage-hero-post{
    @include splash-hero-image;
  }

  // Styles for featured post description box
  .frontpage-hero-description{
    @include splash-hero-description;
    h1 a{
      background-color: $project-background;
    }
  }
}

// Header for each thumbnail section
.frontpage-section-header{
  display: block;
  text-align: center;

  a{
    img{
      margin-bottom: 10px;
    }
    .section-title{
      text-transform: uppercase;
      letter-spacing: 3.5px;
      margin-bottom: 10px;
    }
  }

}

// Centre front page sections
main#main.frontpage-content{
  margin: 0 auto;
}
