@import 'global';

// Styling of the front page sections
.frontpage-sections{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-bottom: 20px;
}

// Top of page hero section

  // Featured post hero image
  .frontpage-hero-post{
    @include splash-hero-image;
  }

  // Styles for featured post description box
  .frontpage-hero-description{
    @include splash-hero-description;
    .blog-title a{
      @include highlighter-effect( $blog-background, 10px);
    }
    .project-title a{
      @include highlighter-effect( $project-background, 10px);
    }
    .series-title a{
      @include highlighter-effect( $series-background, 10px);
    }

    .fontpage-splash-excerpt{
      background-color: white;
      display: inline-block;
      font-family: $body-font;
      padding: 5px;
    }
  }

// Header for each thumbnail section
.frontpage-section-header{
  display: block;
  text-align: center;
  width: 100%;

  a{
    img{
      margin-bottom: 10px;
    }
    .section-title{
      text-transform: uppercase;
      letter-spacing: 3.5px;
      margin-bottom: 10px;
    }
  }

}

// Centre front page sections
main#main.frontpage-content{
  margin: 0 auto;
}
