// Styling of the front page sections
.frontpage-sections{
  display: inline-block;
  vertical-align: top;
  margin-bottom: 20px;
}

// Top of page hero section
.frontpage-hero-section{
  padding: 0px;

  // Featured post hero image
  .frontpage-hero-post{
    @include featured-image(450px, 20px);
    padding: 40px;
    border-radius: 0px;
  }

  // Styles for featured post description box
  .frontpage-hero-description{
    text-align: left;
    margin: 0px;
    padding: 20px;
    border-radius: 10px;

    h6, h1{
      margin-bottom: 20px;
    }
    h6, p{
      display: inline-block;
      background-color: $background-colour;
      padding: 10px;
    }
    h1 a{
      background-color: $project-background;
      padding: 10px;
      // line-height: 5rem;
    }
    .byline-date{
      background: none;
      color: $background-colour;
    }
  }
}

// Header for each thumbnail section
.frontpage-section-header{
  display: block;
  text-align: center;

  a{
    img{
      margin-bottom: 10px;
    }
    .section-title{
      text-transform: uppercase;
      letter-spacing: 3.5px;
      margin-bottom: 10px;
    }
  }

}

// Centre front page sections
main#main.frontpage-content{
  margin: 0 auto;
}
