@import "global";

// Article grid loop styles
.article-header section.featured-image{
  @include featured-image(400px, 20px);
}

// Safeguard for non-breaking text
h1.entry-title.single-title,
.comments-title span{
  word-wrap: break-word;
}

.coauthor-avatar{
  display: inline-block;
  margin: 0 10px;
}

// Featured post hero image
.article-hero-image{
  @include splash-hero-image;
}

// Styles for featured post description box
.article-hero-description{
  @include splash-hero-description;
  margin: 0 auto;
  text-align: center;

  .byline{
    margin-bottom: 0px;
    margin-top: 20px;

  }

  .entry-title.project-background{
    @include project-title-background;
    padding: 10px;
  }
  .entry-title.series-background{
    @include series-title-background;
    padding: 10px;
  }
  .entry-title.blog-background{
    @include blog-title-background;
    padding: 10px;
  }

  .entry-title{
    display: inline;
  }
}

#article-metacontainer{
  text-align: center;
  padding: 20px;
  box-shadow: 0 0 5px #888888;
  border-radius: 7px;
  max-width: 800px;
}

// Related series articles
#article-relatedseries-container{
  text-align: center;
  margin-top: 30px;
}

// Related series thumbnails
.article-relatedseries-thumb{
  display: inline-block;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 200px;
  height: 150px;
  margin: 10px 10px;
  padding: 15px;
  vertical-align: top;

  .article-relatedseries-title{
    background-color: $background-colour;
    display: inline;
    padding: 2px;
  }
}
