@import "global";

// Article grid loop styles
.article-header section.featured-image{
  @include featured-image(400px, 20px);
}

// Safeguard for non-breaking text
h1.entry-title.single-title,
.comments-title span{
  word-wrap: break-word;
}

.coauthor-avatar{
  display: inline-block;
  margin: 0 10px;
}

// Top of page hero section
.article-hero-section{

  // Featured post hero image
  .article-hero-image{
    @include splash-hero-image;
  }

  // Styles for featured post description box
  .article-hero-description{
    @include splash-hero-description;

    .entry-title.blog-background a{
      @include highlighter-effect($blog-background, 10px);
    }

    .entry-title.project-background a{
      @include highlighter-effect($project-background, 10px);
    }
    .entry-title.series-background a{
      @include highlighter-effect($series-background, 10px);
    }
  }
}

// Citation container
#article-citecontainer{
  padding: 20px;
  max-width: 800px;
  word-wrap: break-word;

  #article-citetitle{
    text-align: center;
  }
}
