/* Styles for a single series page */

// HACK: competes with the custom-grid / archive-grid approach
//clean up with more elegant solution
body.single-series{

  .archive-grid{
    box-sizing: content-box;
    justify-content: center;
    display: flex;

    flex-wrap: wrap;
  }
  .article-thumbnail{

    .article-title{
      text-align: left;
    }
  }
}
#series-parts-container{
  margin-top: 40px;
  text-align: center;

  #series-parts-title{
    text-align: center;
    background-color: $series-background;
    padding: 5px;
    display: inline-block;
  }
  .subheader{
    margin-bottom: 20px;
  }
}
