div#topwidgets{
  text-align: center;
  margin-bottom: 10px;
}

#topwidgets{
  .widget{
    display: inline-block;
    vertical-align: top;
  }
}

.widgettitle{
  text-transform: lowercase;
}

.filter-mode{
  display: inline-block;
}
